# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.12.0
azure-core==1.26.1
azure-identity==1.12.0
azure-mgmt-resource==21.2.1
azure-mgmt-advisor==9.0.0
azure-mgmt-security==3.0.0
azure-mgmt-resourcegraph=8.0.0